html
  --base-font-size 20px

body
  --bg-color #ffffff
  --white #ffffff
  --bg-content-color #2b2662
  --title-color #2b2662
  --body-color #286cb0
  --primary-color #0066cc
  --secondary-color #A6C6E4
  --disabled-color #888
  --radius 6px
  --space 3.5rem
  --header-height 80px
  --content-width 860px
  --transition-fast 0.2s
  --transition-normal 0.4s
  --transition-slow 0.6s
  --bg-code #ffffff
  --border-color rgba(255, 255, 255, 0.1)

@media screen and (max-width 650px)
  html
    --base-font-size 17px

  body
    --space 1.5rem
    --header-height 60px
